# Environment
ENV=development
FRONTEND_URL=https://ottodot.byteseeker.net

# PostgreSQL
POSTGRES_DSN=postgres://ottodot:ottodot123123@127.0.0.1:5432/ottodot?sslmode=disable
POSTGRES_DSN_DEMO=postgres://ottodot:ottodot123123@127.0.0.1:5432/ottodot?sslmode=disable

# Server
PORT=9050
GIN_MODE=debug
ALLOWED_ORIGINS=http://localhost:3000,https://ottodot.byteseeker.net

# JWT
JWT_SECRET=your-jwt-access-secret-key
JWT_REFRESH_SECRET=your-jwt-refresh-secret-key
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=30d
